* {
  box-sizing: border-box;
}

body {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #2196f3;
  padding: 20px;
  background-color: #333;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

button:hover {
  background-color: #4fa3d1;
}

.centered {
  width: 100%;
  max-width: 550px;
  margin-bottom: 20px;
}

.group {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  padding-top: 20px; /* This padding gives space for the label to move above the input */
}

label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  position: absolute;
  left: 10px; /* Same as input padding-left */
  bottom: 10px; /* Position the label at the bottom of the input */
  pointer-events: none; /* Allows click events to pass through to the input */
  transition: 0.25s ease;
}

input {
  width: 100%;
  padding: 20px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #333;
  font-size: 1rem;
  margin-bottom: 5px;
}

input:focus + label,
input:valid + label {
  bottom: 100%; /* Move the label to the top of the input */
  color: #2196f3;
}

.bar {
  height: 3px;
  background: #2196f3;
  margin-top: -5px;
}
