* {
  box-sizing: border-box;
}

body {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; /* Adjust as needed */
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #2196f3;
  padding: 20px;
  background-color: #333;
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-top: 20px; /* Spacing after the input fields */
}

button:hover {
  background-color: #4fa3d1;
}

.group {
  width: 550px;
  margin-bottom: 20px; /* Spacing between groups */
  position: relative;
}

label {
  position: absolute;
  top: 0; /* Adjust as needed */
  left: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px; /* Adjust as needed */
  cursor: text;
  transition: 0.25s ease;
}

input {
  display: block;
  width: 100%;
  padding: 20px 0; /* Adjust padding as needed */
  border: none;
  border-radius: 0;
  color: white;
  background: #333;
  font-size: 20px; /* Adjust font size as needed */
  margin-top: 30px; /* Creates space for the label */
}

.bar {
  background: rgba(255, 255, 255, 0.5);
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0; /* Position at the bottom of the input field */
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}
