body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-right: 1rem;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff;
}

.cell:hover {
    background-color: #e0e0e0;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    max-height: 200px;
    padding: 0.5rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background-color: #fff;
}

.chat {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chat-form {
    background: #333;
    padding: 0.5rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: left;
}

#input_message {
    border: none;
    padding: 0.5rem;
    width: 70%;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-size: 16px;
    background-color: #eee;
    color: #333;
}

#input_message:focus {
    outline: none;
}

.chat-form>button {
    background: #61dafb;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

#play-again {
    background: #61dafb;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#main-menu {
    background: #61dafb;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}


